footer {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 230px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
  // max-width: calc(99vw -230px);
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  opacity: 0;
  color: #000000;
}

.footer-container:hover {
  opacity: .9;
}

.copywright {
  color: #e80037;
}

.developer-names {
  font-weight: 700;
}

