@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.body-container.splash-background-image {
  background-image: url("https://lh3.googleusercontent.com/GLjBKZdnbp4CAVLxFCkKPSuwFcuj2u78B8h0deQBpJZ8SVXk6Q0bnFZ2LiwCdgT7JwFX9LAq3pApcfP4dxRM24dr4bzED4U_rALslmlMwGzgx7Nbh9Jl9vTPZkLPASL1l7xLXRin25dLgo_CbYLKI7L1Hdbg5bN7a-4DuoqUCZ0TqLGL1JvKmwiQNI7ceoIP43nKJH6YX7-bOETb_lp0HzDoPw4pR8gRYKP7v7fIO8yHIvk9D-4jvRIgKmRQphRw0uvtJHEd0diJQMLH8kOBhwfvJDJHza4OcbtgnNWAQ9xjXrGGhenLSuP7o_nKfvDAPbEF5AUjbzXumWZdoGZfkW5Fch76EYDB0x8ivdOxZ7dwSV_Eur3LfGkWTyqwviHaeI_S6vMhQL2XJAjWXHkcCai3HsGQUFPqdjxuubFuISolX68Y32_FQ6JDB7yo9kOrj7rjBrNrwf8f54fgPND6FAY8_GDQo6-HoIV7VEuBPhudvEMXVP_lJPtSOqPd_Q-PuNZjNa8SERWm8rV0F8c7Db5XnN0ponf1liTOimz-GYOvy_Zeu7tIlKyXVjZBb7cUIKRbEpklsLtYMLYUPwnKuECGEnW4OGIxKjZ9kjDxlnQtar1YwzE8zwWVLmJhPFZt1gAn7mCH0bLXx5KaAKIae0vOmexHHSDhWNbKXCq5sAgeLIGaIchUC6uxMN9asd0HY_gfFw=w3232-h1808-ft");
}

.splash-muse-of-wire-logo-container {
  position: absolute;
  left: 30%;
  top: 3%;
}

.muse-of-wire-logo {
  width: 50vw;
}

.splash-image-container {
  position: absolute;
  left: 5%;
  top: 35%;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

#splash-site-description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
  width: 90%;
  padding: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vmax;
  font-weight: 700;
  text-shadow: 1px 1px 2px #000000;
  color: #ffffff;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}

.faded-out {
  opacity: 0;
}

.splash-image {
  width: 33vw;
  transition-property: width;
  transition-duration: .4s;
  transition-timing-function: ease-in
}

.splash-image:hover {
  width: 34vw;
}

.splash-video-container {
  position: absolute;
  width: 40vw;
  height: 22.5vw;
  bottom: 15%;
  right: 5%;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}



.splash-video-container:hover {
  width: 41vw;
  height: 23vw;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}


