.body-container.search-background-image {
  background-image: url("https://lh3.googleusercontent.com/fife/ABSRlIrFnFvP2y7FoUR5eCkVtkB1Ryqicl8CIotS5Dkqth7CT7wpItV1Cc-7OzbDdq3GSNt1Dzytg8Y58sCAXGXWtczyzgyYz3paPJQ1w-1eISp6HY8VYODrqP3mw_eoer3moFZ2nXcuivBHNT9kUflNY70H0Ru2r9D95HXkj_WmlpNX3pSZ9P_cMcTvhKdz33EatW3Myw-_m_Qw_8EDUpHTJdBMZuo7brQ4mkUxzPp5mtSGNFKmU_pg9vr1XGzIEK3oCWeuOjzy-GivJnimmsApP-8ueBDU0CHmPPI6tttCCl2QUHsrc7-hoiWlmMkapnx9CPJRRI_w7ZneLD93M4jei8G5R1FAln36TzL_Xp7OpAvJq_yLpkvmmniEJ6KUxycFKvbjS1x5WauuL8PcWFwHnnb0FrJtz2dNUR7f9Ry9x5Jx_XU880C7EqFjGVVteYz_lw_24Rl6LuNjVWH9B2F_QMYXACCo3BmoKzY21PSa4Q2pI1Ncb4GLI8D8G4Nn8b791w5cigyOJrf9fTe9svDmK5fSom28m8azC3QEX4lSsfALlNxQNaQ97Z4LFjzp69f2tJRYHMScMHxhrlj4O-LvV1ii-cynqSNZDT_Uh0IoSk4ykHH4VjNoCZN_nRBoVWsDs31qHhFhS03U2VLb4RGKysT57BWeMvcXmywyfnI323NJfmx_4mYm3-E5-qn3UOpoJPgqtjGQgshudJyE6ZjG5JVfU1YfKhtljEo=w3584-h1950-ft");
}

.search-selectors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.rendered-results-list {
  object-fit: scale-down;
}

.search-result-image {
  width: 100px;
}

// placeholder page currently uses session_form.scss styling