.creations-page-body {
   background-image: url('https://www.historicartcrafttheatre.org/uploads/2/5/0/2/25024004/auditorium-3-fhiartcraft_orig.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   /* height: 100%;
   width: 100%; */
   /* opacity: 0.8; */
}


.art-gallery-container {
   background-color: #dddddd;
}

.video-title {
    font-size: 40px;
    position: relative;
    left: 575px;
}


/* .video-container .react-player {
    min-width: 150px;
    height: 100px;
    background: #ddd; 
    margin: 10px;
} */

.video-slider {
    border: 1px solid red;
}

.react-player {
    margin: 0px 10px; 
    transition: 1s;
    /* opacity: 1; */
}

/* .react-player:hover {
    transform: scale(1.6);
} */

.art-gallery {
   font-size: 40px;
}

.classical-art {
   font-size: 20px;
}

.modern-art {
   font-size: 20px;
}

.eastern-art, .zodiac-art, .abstract-art, .colonial-art, .cyber-art {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 720px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}

.classical-art-container {
   padding: 10px 0;
   border: 3px solid green;
   text-align: center;
   display: flex;
   flex-direction: row;
}

.modern-art-container {
   padding: 10px 0;
   border: 3px solid green;
   text-align: center;
   display: flex;
   flex-direction: row;
}

#eastern-art {
    width: 22%;
    /* height: 10%; */
   border-style: solid;
   border-width: 30px 30px 30px 30px;
   -moz-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   -webkit-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   -o-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
}

#zodiac-art {
   width: 25%;
   /* height: 30%; */
   border-style: solid;
   border-width: 30px 30px 30px 30px;
   -moz-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   -webkit-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   -o-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
}
#colonial-art {
   width: 40%;
    /* height: 50%; */
    border-style: solid;
   border-width: 30px 30px 30px 30px;
   -moz-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   -webkit-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   -o-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
}

#abstract-art {
   width: 35%;
    /* height: 50%; */
    border-style: solid;
    border-width: 30px 30px 30px 30px;
    -moz-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
    -webkit-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
    -o-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
    border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   }
   
   
   #cyber-art {
      width: 20%;
      /* height: 50%; */
      border-style: solid;
      border-width: 30px 30px 30px 30px;
      -moz-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
      -webkit-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
      -o-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
      border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   }
   
   #nude-art {
      width: 30%;
      /* height: 50%; */
      border-style: solid;
      border-width: 30px 30px 30px 30px;
      -moz-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
      -webkit-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
      -o-border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
      border-image: url('https://cdn.pixabay.com/photo/2019/12/21/07/44/frame-4709861_960_720.png') 40 40 40 40 stretch stretch;
   }
   
   #eastern-art:hover {
      transition: 1s;
      transform: scale(1.1);
   }
   
   #zodiac-art:hover {
      transition: 1s;
      transform: scale(1.1);
   }
   
   #colonial-art:hover {
      transition: 1s;
      transform: scale(1.1);
   }
   
   #abstract-art:hover {
      transition: 1s;
      transform: scale(1.1);
   }
   
   #cyber-art:hover {
      transition: 1s;
      transform: scale(1.1);
   }
   
   #nude-art:hover {
      transition: 1s;
      transform: scale(1.1);
   }
   
   
   #slider {
      
      position: relative;
      left: 220px;
      width: 900px;
      /* opacity: 1; */
      /* z-index: 1; */
      
   }
   #slider input[type=radio] {
      display: none;
   }
   #slider label {
      cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: rgb(253, 69, 69);
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    -moz-border-image: url() 6 82 49 29 repeat repeat;
    -webkit-border-image: url() 6 82 49 29 repeat repeat;
    -o-border-image: url() 6 82 49 29 repeat repeat;
    border-image: url() 6 82 49 29 repeat repeat;
    position: relative;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 } 
 #slide5:checked ~ #slides .inner {
    margin-left: -400%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    overflow: hidden;

    height: 500px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 #slides .slide_1 {
    background: #000000;
 }
 #slides .slide_2 {
    background: #000000;
 }
 #slides .slide_3 {
    background: #000000;
 }
 #slides .slide_4 {
    background: #000000;
} 
#slides .slide_5 {
    background: #000000;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}